<!-- container -->
<div class="container">
  <h1>{{ name }}</h1>
  <h3>Author: DaiDH</h3>
  <h3>npm i ngx-merge-cells --save</h3>
  <!-- toolbox -->
  <table class="toolbox">
    <tbody>
      <tr>
        <td>
          <button (click)="merge('mainTable')" title="Merge marked table cells horizontally and verically">Merge</button>
        </td>
        <td>
          <button (click)="split('h', 'mainTable')" title="Split marked table cell horizontally">Split H</button>
          <button (click)="split('v', 'mainTable')" title="Split marked table cell vertically">Split V</button>
        </td>
        <td>
          <button (click)="row('insert', 'mainTable')" title="Add table row">Row +</button>
          <button (click)="row('delete', 'mainTable')" title="Delete table row">Row -</button>
        </td>
        <td>
          <button (click)="column('insert', 'mainTable')" title="Add table column">Col +</button>
          <button (click)="column('delete', 'mainTable')" title="Delete table column">Col -</button>
        </td>
        <td>
          <button class="btn btn-danger mx-1" (click)="updateStyles()" title="Delete table column">Update styles</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- main table -->
  <table id="mainTable" class="table" border="1">
    <tbody>
      <tr>
        <th scope="col">H1</th>
        <th scope="col">H2</th>
        <th scope="col">H3</th>
        <th scope="col">H4</th>
        <th scope="col">H5</th>
        <th scope="col">H6</th>
        <th scope="col">H7</th>
      </tr>
      <tr>
        <th scope="row">H2</th>
        <td>DEMO2</td>
        <td>DEMO3</td>
        <td>DEMO4</td>
        <td>DEMO5</td>
        <td>DEMO6</td>
        <td>DEMO7</td>
      </tr>
      <tr>
        <th scope="row">H3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">H4</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">H5</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">H6</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
